.banner_box img{
    width: 100%;
}

.movie_list_box{
    padding: 0 0.7rem;
}

.movie_list_box .title{
    text-align: center;
    font-size: 0.6rem;
    padding: 1.2rem 0;
    position: relative;
}

.movie_list_box .title .more{
    position: absolute;
    top: 1.2rem;
    right: 0;
    color:  #cacaca;
}

.movie_list_box .movie_list .item{
    font-size: 0.7rem;

    float: left;
    width: 7.925rem;
    margin-bottom: 1rem;

    position: relative;

    border-radius: 0.1rem;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0,0.2);
    background-color: #fff;
}

.movie_list_box .movie_list .item:nth-child(2n){
    margin-left: 0.7rem;
}

.movie_list_box .movie_list .item img{
    width: 7.925rem;
    height: 3.4rem;
}

.movie_list_box .movie_list .item h2{
    margin-top: 0.5rem;
     /* 规定当内容溢出元素框时发生的事情 */
    overflow: hidden;
    /* 当文本溢出包含元素时发生的事情 ellipsis：显示省略符号来代表被修剪的文本； clip：修剪文本 */
    text-overflow: ellipsis;
    /* 规定如何处理元素中的空白  nowrap：文本不会换行 */
    white-space: nowrap;
    /* 行高 */
    line-height: 1rem;
    font-size: 1rem;
    color: gray;
}

.movie_list_box .movie_list .item .sub{
    color: orange;
    font-size: 0.6rem;
    margin-top: 0.5rem;
    height: 0.8rem;
    line-height: 0.8rem;
    padding-bottom: 0.3rem;
}

